<footer class="post-info-footer">
        <abbr class="published" title="{{ article.date.strftime('%d/%m/%Y') }}">
                <small>Publié le {{ article.date.strftime('%d/%m/%Y') }} par {% for author in article.authors %}
                        <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                        {% endfor %}{% if article.modified %} et modifié le {{ article.modified.strftime('%d/%m/%Y') }}{% endif %}</small>
        </abbr>
</footer><!-- /.post-info -->
